<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Загруженная фотография</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm2rQO6LPmIkjK6UksdQRVvDl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Загруженная фотография</h1>
        <img src="{{ url_for('static', filename='img/' + filename) }}" class="img-fluid">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSLdce" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIz5wBk4SkkHg+8j7EWrGOg9mIx4YDkcWrh0U/6I+JwPh" crossorigin="anonymous"></script>
</body>
</html>
